@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/*Header*/
.header {
    max-width: 1032px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 110px 15px;
}

.form {
    position: relative;
}

.form__button {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    position: absolute;
    top: calc(50% - 10px);
    left: 10px;
}

.form__input {
    width: 300px;
    background: rgba(217, 217, 217, 0.20);    
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
}
.form__input::placeholder {
    color: rgba(171, 171, 171, 1);
}

.form__input:focus {
    outline: none;
}

.header__logo {
    display: block;
    width: 213px;
    height: 50px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
}

.header__list {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.header__link {
    color: black;
    text-decoration: none;
}

/*Container*/
.container {
    max-width: 1032px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main__text {
    flex-basis: 490px;
    padding-top: 100px;
}

.main__title {
    font-size: 50px;
    font-weight: 500;
    padding: 20px 20px;
}

.main__desc {
    font-size: 20px;
    font-weight: 400;
    color: rgba(171, 171, 171, 1);
    margin-bottom: 40px;
}

.main__btn {
    font-size: 20px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    background: rgba(245, 198, 31, 1);
    padding: 10px 20px;
}